$def with (topic, headline, sayings, other_button, image_host)
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <!-- The default styling is provided by http://getbootstrap.com -->
  <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery and display.js are conveniences for interacting with the DOM -->
  <script src="js/jquery.js"></script>
  <script src="js/display.js"></script>
  <script type="text/javascript" src="js/jquery-ui.js"></script>

  <!-- ROSLIBJS -->
  <!-- EventEmitter2 is the sole dependency of roslibjs -->
  <script src="roslibjs/include/EventEmitter2/eventemitter2.js"></script>
  <!-- Roslibjs handles core ROS functionality in the browser -->
  <script src="roslibjs/build/roslib.js"></script>

  <script type="text/javascript" type="text/javascript">

  var hostname = location.hostname;

  var ros = new ROSLIB.Ros({
    url : 'ws://'+hostname+':9090'
  });

  var twitterClient = new ROSLIB.ActionClient({
    ros : ros,
    serverName : '/strands_image_tweets',
    actionName : 'strands_tweets/GrabImageThenTweetAction'
  });

  var fakeCamera = new ROSLIB.ActionClient({
    ros : ros,
    serverName : '/camera_effects',
    actionName : 'fake_camera_effects/CameraEffectsAction'
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  });

  ros.on('error', function(error) {
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    console.log('Connection to websocket server closed.');
  });

  var displayPage = new ROSLIB.Service({
    ros : ros,
    name : '/strands_webserver/display_page',
    serviceType : 'strands_webserver/SetDisplay'
  });

   function displayRelativePage(page) {

    var request = new ROSLIB.ServiceRequest({});
 
    toDisplay = 'http://$:image_host:8090/';

    var request = new ROSLIB.ServiceRequest({
      display_number : 0,
      content : toDisplay + page
    });

    displayPage.callService(request, function(result) {
      console.log('Result for service call on '
        + displayPage.name
        + ': '
        + result.success);
  });
  }

  function cancelTweet() {
    twitterClient.cancel();
    displayRelativePage('index.html');
  }


  function tweetPicture() {

  //configure via the generator script
  var sayings=$:sayings;
  
    var goal = new ROSLIB.Goal({
      actionClient : twitterClient,
      goalMessage : {
        text : sayings[Math.floor(Math.random() * sayings.length)],
        force : false,
        topic : '$:topic'
      }
    });

  var camGoal = new ROSLIB.Goal({
      actionClient : fakeCamera,
      goalMessage : {}
    });


    goal.on('feedback', function(feedback) {
      console.log('Feedback: ' + feedback);
    });

    goal.on('result', function(result) {
      console.log('Final Result: ' + result);    
    });

    var countdown_div = $$('<div />').prependTo('body');
    countdown_div.attr('style',"z-index: 1000;\
 font-size: 30vh;\
 margin: auto;\
 width: 100%;\
 position: absolute;\
 align-items: center;\
 justify-content: center;\
 display: flex;\
 height: 100vh;\
 color: #1a1ab1;");

    var j;
    for(j=0;j<6;j++){
      setTimeout(function(value) {
      switch(value){
        case 0:
          countdown_div.text("LOOK");
          break;
        case 1:
          countdown_div.text("AT");
          break;
        case 2:
          countdown_div.text("THE");
          break;
        case 3:
          countdown_div.text("CAMERA");
          break;
        case 4:
          countdown_div.text("⬆");
          break;
        case 5:
        countdown_div.attr('style',"z-index: 1000;\
font-size: 100vh;\
margin: auto;\
width: 100%;\
position: absolute;\
align-items: center;\
justify-content: center;\
display: flex;\
height: 100vh;\
color: #1a1ab1;");
        var count_from = 3;
        var i;
          countdown_div.text((count_from).toString());
          for(i=1; i < count_from; i++){
            setTimeout(function(value) { countdown_div.text(value);}, i*1000, (count_from-i).toString());
          }
          setTimeout(function() {
            goal.send();
            // switch to image snapshot and disable button
            $$('#imageStream').attr("src","http://$:image_host:8080/snapshot?topic=$:topic");
            camGoal.send();
            countdown_div.remove();
          }
          , count_from * 1000);
          //disable button
          $$('#tweetButton').addClass('disabled');
          setTimeout(function() {
            // renable image stream and tweet button
            $$('#imageStream').attr("src","http://$:image_host:8080/stream?topic=$:topic");  
            $$('#tweetButton').removeClass('disabled');
          }
          , (count_from + 1) * 1000);
          i=5;
        }
      }, j*1000, j);
    }
  }
  </script>

</head>

<body>
  <div class="container">

    <div class="row">
      <div class="col-sm-12"><h2 class="text-center">$:headline</h2></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10"><img id="imageStream" class="center-block img-thumbnail" src="http://$:image_host:8080/stream?topic=$:topic"/></div> 
      <div class="col-sm-1"></div>      
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4"><button id="tweetButton" type="button" onclick="tweetPicture()" class="btn btn-primary btn-block"><h2>Tweet Picture</h2></button></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">$:other_button</div>
      <div class="col-sm-1"></div>
    </div>
  </div>      
</body>
</html>
