<launch>
	<!-- Remote Launching -->
	<arg name="machine" default="localhost"/>
	<arg name="user" default="" />

	<!-- Parameters -->
  	<arg name="image_topic" default="/head_xtion/rgb/image_mono"/>

	<!-- NOW when launching in a remote mode it will need the ROS_ENV_LOADER set if not it will leave it empty -->
	<machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true" />


	<!-- Streams video on demand from ROS image topics -->
	<node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen">
		<param name="port" value="8080"/>
	</node>

	<!-- Twitter services -->
	<include file="$(find strands_tweets)/launch/strands_tweets.launch" />

	<!-- Node to provide the web page which pulls it together -->
	<node name="tweet_me_screen" pkg="tweet_me_screen" type="tweet_me_screen_example.py" output="screen">
		<param name="image_topic" value="$(arg image_topic)"/>
	</node>
</launch>
